@import url(https://fonts.googleapis.com/css?family=Cairo);
@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

html, body {
  height: 100%;
}

body { 
  background-color: #292929;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  background: url(7f563d663d716caf4a89.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  width: 100%;
  height: 64px;
  background: url(312b3e4d469c4b0a91c2.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

#repeatButton {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;  
  border: none;
  background: url(4ee845db4ea096811c72.png) transparent 0 0 no-repeat;
  background-size: cover;
  width: 124px;
  height: 50px;
  margin: 7px;
  cursor: pointer;
}

h1 {  
  font-size: 100%;  
  font-family: 'Cairo', sans-serif;
}

h1 span {
  color: aliceblue;
  border: 1px solid hsla(208, 100%, 97.1%, .1);
  display: inline-block;
  padding: 0.75rem 1rem;
}

.icons { 
  display: inline-block;
  width: 128px;
  height: 300px;
  padding: 64px;
  overflow: hidden;
  background: url(9618f8b57fb863574619.png) repeat-y;
  will-change: backgroundPosition;
  transition: 0.3s background-position ease-in-out;
  padding: 0 80px;
  transform: translateZ(0);
}

.icons:nth-child(2) {
  margin: 0 10px;
}

* { box-sizing: border-box; }

.spinner-container {
  background: #1e1e1e7f;
  flex: 1;
  flex-wrap: no-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 760px;
  min-height: 480px;
  overflow: hidden;
}

.app-wrap.winner-false {
  animation: linear 1s spin;
}


